---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="About me">
	<main class="flex size-full max-h-[700px] max-w-6xl flex-col gap-2 md:gap-4">
		<h1 class="text-2xl font-bold" transition:animate="fade" transition:name="about">About me</h1>

		<p class="py-16 text-sm italic">...work in progress...</p>
	</main>
</Layout>
