---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="About me">
	<main class="flex size-full max-w-6xl flex-col pt-24 md:px-24">
		<h1 class="pb-6 text-2xl font-bold md:pb-8" transition:animate="fade" transition:name="about">about me</h1>

		<p class="py-16">just another dude who likes to code, learn new stuff and play some games</p>
	</main>
</Layout>
