---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"

const postsEntries = await getCollection("posts")
---

<Layout title="Blog">
	<h1 transition:name="blog" transition:animate="fade">Blog</h1>

	<main>
		<ul>
			{
				postsEntries.map((post) => (
					<li>
						<a href={`/blog/${post.slug}`}>{post.data.title}</a>
						<time datetime={post.data.date.toISOString()}>{post.data.date.toDateString()}</time>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
