---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout>
  <div class="text-cyber-grey flex flex-col gap-8 pb-8">
    {
      posts.map((post) => (
        <a href={`/blog/${post.id}/`}>
          <article class="group relative flex cursor-pointer flex-col gap-2 text-sm md:flex-row md:gap-12">
            <div class="flex flex-1 flex-col justify-between gap-1">
              <h3 class="text-cyber-fg group-hover:border-b-cyber-grey line-clamp-1 w-fit truncate border-b border-b-transparent">
                {post.data.title}
              </h3>
              <p class="">{post.data.description}</p>
            </div>

            <div class="flex flex-col gap-1 md:items-end">
              <span class="text-xs text-nowrap">
                <FormattedDate date={post.data.pubDate} />
              </span>
              <span class="text-xs text-nowrap">255 words | 1 min read</span>
            </div>
          </article>
        </a>
      ))
    }
  </div>
</MainLayout>
