@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  min-width: 0;
}

@custom-variant dark (&:is(.dark *));

::selection {
  background-color: theme(--color-cyber-pink);
  color: theme(--color-cyber-bg);
}

@theme {
  --color-cyber-bg: #ffffff;
  --color-cyber-bg-alt: #eaeaea;
  --color-cyber-bg-highlight: #acacac;
  --color-cyber-fg: #16181a;
  --color-cyber-grey: #7b8496;
  --color-cyber-blue: #0057d1;
  --color-cyber-green: #008b0c;
  --color-cyber-cyan: #008c99;
  --color-cyber-red: #d11500;
  --color-cyber-yellow: #997b00;
  --color-cyber-magenta: #d100bf;
  --color-cyber-pink: #f40064;
  --color-cyber-orange: #d17c00;
  --color-cyber-purple: #a018ff;
}

.dark {
  --color-cyber-bg: #16181a;
  --color-cyber-bg-alt: #1e2124;
  --color-cyber-bg-highlight: #3c4048;
  --color-cyber-fg: #ffffff;
  --color-cyber-grey: #7b8496;
  --color-cyber-blue: #5ea1ff;
  --color-cyber-green: #5eff6c;
  --color-cyber-cyan: #5ef1ff;
  --color-cyber-red: #ff6e5e;
  --color-cyber-yellow: #f1ff5e;
  --color-cyber-magenta: #ff5ef1;
  --color-cyber-pink: #ff5ea0;
  --color-cyber-orange: #ffbd5e;
  --color-cyber-purple: #bd5eff;
}

@layer utilities {
  @keyframes hover-wiggle {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .hover\:animate-wiggle:hover {
    animation: hover-wiggle 0.4s ease-in;
  }
}
