---
import GithubLogo from "../components/github-logo.astro"
import LinkedinLogo from "../components/linkedin-logo.astro"
import XLogo from "../components/x-logo.astro"
import Layout from "../layouts/Layout.astro"
import Socials from "../components/socials.astro"
import PulseIcon from "../components/pulse-icon.astro"
import OsuLogo from "../components/osu-logo.astro"
import Activity from "../components/activity.astro"
import { getActivityMessage } from "../scripts/activity"
import { Image } from "astro:assets"
import profilePic from "../images/profile_pic.png"

const initialActivityMessage = await getActivityMessage()

export const prerender = false
---

<Layout title="FrixaCo">
	<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50">
		<h1 class="text-center text-4xl font-bold text-white">
			making some changes<br />will be back soon<br />keyboard navigation is working though
		</h1>
	</div>

	<main
		id="home-main"
		class="relative grid size-full max-w-7xl gap-2 md:max-h-[732px] md:grid-cols-8 md:grid-rows-12">
		<script src="../scripts/shortcuts.ts"></script>

		<div
			tabindex="0"
			class="group bg-primary relative flex flex-col justify-start gap-4 border border-dashed transition-colors duration-100 focus-within:border-red-500 hover:border-red-500 focus:outline-none md:col-span-6 md:row-span-6 md:flex-row"
			aria-label="Hi, I'm Rustam">
			<div class="flex flex-col justify-between gap-2 px-6 py-5 md:col-span-1 md:row-span-2">
				<p class="font-thin text-gray-400">welcome</p>

				<h1 class="animate-pop z-10 min-h-[200px] flex-1 text-xl text-pretty lg:max-w-xl">
					hi, I'm <strong
						class="drop-shadow-solid group-hover:text-red-500 group-focus:text-red-500"
						>Rustam</strong
					>, full-stack developer, with strong interest for pretty much everything
				</h1>

				<div class="flex place-items-end gap-4 pt-2 md:col-span-1 md:row-span-1 md:pt-0">
					<div class="flex flex-col gap-4 md:flex-row">
						<div class="flex flex-col items-center">
							<a
								href="https://github.com/frixaco"
								target="_blank"
								class="shadow-solid flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<GithubLogo />
							</a>
							<span
								class="mt-2 hidden font-mono text-sm text-gray-400 md:inline-block"
								>[g]</span
							>
						</div>

						<div id="linkedin-btn" class="flex flex-col items-center">
							<a
								href="https://www.linkedin.com/in/frixaco/"
								target="_blank"
								class="shadow-solid flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<LinkedinLogo />
							</a>
							<span
								class="mt-2 hidden font-mono text-sm text-gray-400 md:inline-block"
								>[l]</span
							>
						</div>

						<div class="flex flex-col items-center">
							<a
								href="https://x.com/frixaco"
								target="_blank"
								class="shadow-solid flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<XLogo />
							</a>
							<span
								class="mt-2 hidden font-mono text-sm text-gray-400 md:inline-block"
								>[x]</span
							>
						</div>
					</div>
				</div>
			</div>

			<Image
				src={profilePic}
				alt="artwork"
				class="absolute right-0 bottom-0 max-h-72 w-full max-w-72 self-center overflow-hidden opacity-75 md:self-end"
			/>
		</div>

		<div
			id="about"
			tabindex="0"
			class="group bg-primary flex cursor-pointer flex-col gap-4 border border-dashed px-6 py-5 transition-colors duration-100 focus-within:border-blue-500 hover:border-blue-500 focus:outline-none md:col-span-2 md:row-span-9"
			aria-label="About me">
			<h1 class="text-lg font-bold group-hover:text-blue-400 group-focus:text-blue-400">
				<span class="font-semibold text-yellow-500">a</span>bout me
			</h1>

			<div
				class="animate-pop scrollbar-hidden flex flex-1 flex-col justify-around gap-3 overflow-scroll text-[0.8em] leading-normal font-light md:gap-1">
				<p class="">- self-taught dev, live inside my terminal, Neovim-er, embracing AI</p>

				<div class="flex flex-col gap-1">
					<p>- write bugs using:</p>

					<ul class="list-disc pl-5">
						<li>TypeScript/JS, Go, Python</li>
						<li>Next.js / React (same thing) and its ecosystem</li>
						<li>
							AWS (Amazon <strike class="text-gray-400">Pain</strike>Web
							Services)
						</li>
					</ul>
				</div>

				<p class="">
					- beyond coding projects, also do 3D modeling in Blender, music in Reaper and
					learn Japanese
				</p>

				<p class="md:pb-0">
					- some favorite games: Sekiro, Monster Hunter World, Elden Ring, Lies of P. but
					<span class="inline-flex items-center gap-1 align-middle">
						<OsuLogo />
						<a
							href="https://osu.ppy.sh/users/12573178"
							target="_blank"
							class="rounded-sm text-pink-400 hover:underline focus:ring-2 focus:ring-pink-500 focus:outline-none"
							>osu!</a
						>
					</span>
					is the goat for me
				</p>
			</div>

			<span class="hidden text-right font-mono text-sm font-thin text-gray-400 md:inline-block"
				>[a]</span
			>
		</div>

		<div
			tabindex="0"
			class="group bg-primary flex flex-col gap-4 border border-dashed px-6 py-5 transition-colors duration-100 focus-within:border-green-500 hover:border-green-500 focus:outline-none md:col-span-2 md:row-span-6"
			aria-label="Socials">
			<h1 class="text-lg font-bold group-hover:text-green-400 group-focus:text-green-400">socials</h1>

			<Socials class="pt-4 pb-2" />
		</div>

		<div
			id="projects"
			tabindex="0"
			class="group bg-primary flex cursor-pointer flex-col gap-4 border border-dashed px-6 py-5 transition-colors duration-100 focus-within:border-purple-500 hover:border-purple-500 focus:outline-none md:col-span-4 md:row-span-3"
			role="button">
			<h1 class="text-lg font-bold group-hover:text-purple-400 group-focus:text-purple-400">
				<span class="font-semibold text-yellow-500">p</span>rojects
			</h1>

			<div class="flex-1"></div>

			<span class="hidden text-right font-mono text-sm font-thin text-gray-400 md:inline-block"
				>[p]</span
			>
		</div>

		<div
			tabindex="0"
			class="group bg-primary flex flex-col gap-4 border border-dashed px-6 py-5 transition-colors duration-100 focus-within:border-cyan-500 hover:border-cyan-500 focus:outline-none md:col-span-3 md:row-span-3"
			aria-label="NOW">
			<h1 class="flex items-center gap-2">
				<span class="text-lg font-bold group-hover:text-cyan-400 group-focus:text-cyan-400"
					>now (wip)</span
				>
			</h1>

			<Activity initialActivityMessage={initialActivityMessage} />

			<div class="flex items-center gap-1">
				<PulseIcon class:list={["group-hover:text-cyan-400"]} />
				<span class="text-xs text-gray-400 italic">updated every 10 seconds</span>
			</div>
		</div>

		<div
			id="blog"
			tabindex="0"
			class="group bg-primary flex cursor-pointer flex-col gap-4 border border-dashed px-6 py-5 transition-colors duration-100 focus-within:border-pink-500 hover:border-pink-500 focus:outline-none md:col-span-3 md:row-span-3"
			role="button">
			<div class="flex items-center justify-between gap-2">
				<h1 class="text-lg font-bold group-hover:text-pink-400 group-focus:text-pink-400">
					<span class="font-semibold text-yellow-500">b</span>log
				</h1>

				<svg
					class="-translate-x-1.5 translate-y-1.5 -rotate-45 text-white transition-transform group-hover:translate-x-0 group-hover:translate-y-0 group-hover:text-pink-400"
					xmlns="http://www.w3.org/2000/svg"
					width="1.2em"
					height="1.2em"
					viewBox="0 0 24 24"
					><path
						fill="currentColor"
						d="m16.172 11l-5.364-5.364l1.414-1.414L20 12l-7.778 7.778l-1.414-1.414L16.172 13H4v-2z"
					></path></svg
				>
			</div>

			<div class="flex-1"></div>

			<span class="hidden text-right font-mono text-sm font-thin text-gray-400 md:inline-block"
				>[b]</span
			>
		</div>
	</main>
</Layout>
