---
import GithubLogo from "../components/github-logo.astro"
import LinkedinLogo from "../components/linkedin-logo.astro"
import XLogo from "../components/x-logo.astro"
import Layout from "../layouts/Layout.astro"
import Socials from "../components/socials.astro"
---

<Layout title="Rustam @frixaco | Full-stack software developer">
	<!-- <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50">
		<h1 class="text-4xl font-bold text-white">WIP</h1>
	</div> -->

	<main class="relative grid size-full max-h-[700px] max-w-6xl gap-2 md:grid-cols-8 md:grid-rows-12 md:gap-4">
		<script>
			import { navigate } from "astro:transitions/client"

			document.addEventListener("astro:page-load", () => {
				if (window.location.pathname === "/") {
					document.addEventListener("keydown", (e) => {
						console.log("navigation button handler fired: ", e.key)
						if (e.altKey || e.ctrlKey || e.metaKey || e.shiftKey) {
							return
						}

						if (document.getElementById("shortcuts-toggle-label")!.textContent === "enable") {
							return
						}

						if (e.key === "p") {
							navigate("/projects")
						}
						if (e.key === "b") {
							navigate("/blog")
						}

						if (e.key === "a") {
							navigate("/about")
						}
						if (e.key === "g") {
							window.open("https://github.com/frixaco", "_blank")
						}
						if (e.key === "l") {
							window.open("https://linkedin.com/in/frixaco", "_blank")
						}
						if (e.key === "x") {
							window.open("https://x.com/frixaco", "_blank")
						}
					})

					const projectsDiv = document.getElementById("projects")
					projectsDiv?.addEventListener("click", () => {
						console.log("projectsDiv clicked")
						navigate("/projects")
					})

					const blogDiv = document.getElementById("blog")
					blogDiv!.addEventListener("click", () => {
						console.log("blogDiv clicked")
						navigate("/blog")
					})

					const aboutDiv = document.getElementById("about")
					aboutDiv!.addEventListener("click", () => {
						console.log("aboutDiv clicked")
						navigate("/about")
					})

					let shortcutsEnabled = true

					document.addEventListener("keydown", (e) => {
						console.log("? handler keydown fired: ", e.key)
						if (e.altKey || e.ctrlKey || e.metaKey) {
							// shift + / = ?
							return
						}
						if (e.key === "?") {
							document.getElementById("shortcuts-toggle-label")!.textContent = shortcutsEnabled ? "enable" : "disable"
							shortcutsEnabled = !shortcutsEnabled
						}
					})
				}
			})
		</script>

		<div
			tabindex="0"
			class="group flex flex-col justify-start gap-4 rounded-xl border border-white/10 bg-primary hover:border-red-500 focus:outline-none focus:ring-1 focus:ring-red-500 md:col-span-6 md:row-span-6 md:flex-row"
			aria-label="Hi, I'm Rustam">
			<div class="flex flex-col justify-between gap-2 px-6 py-5 md:col-span-1 md:row-span-2">
				<p class="font-thin text-gray-400">welcome</p>

				<h1 class="flex-1 text-xl">
					Hi, I'm <strong class="drop-shadow-solid group-hover:text-red-500 group-focus:text-red-500"
						>Rustam Ashurmatov</strong
					>, full-stack developer, with strong interest for pretty much everything
				</h1>

				<div class="flex place-items-end gap-4 pt-2 md:col-span-1 md:row-span-1 md:pt-0">
					<div class="flex gap-4">
						<div class="flex flex-col items-center">
							<a
								href="https://github.com/frixaco"
								target="_blank"
								class="flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-solid shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<GithubLogo />
							</a>
							<span class="mt-2 font-mono text-sm text-gray-400">[g]</span>
						</div>

						<div class="flex flex-col items-center">
							<a
								href="https://www.linkedin.com/in/frixaco/"
								target="_blank"
								class="flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-solid shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<LinkedinLogo />
							</a>
							<span class="mt-2 font-mono text-sm text-gray-400">[l]</span>
						</div>

						<div class="flex flex-col items-center">
							<a
								href="https://x.com/frixaco"
								target="_blank"
								class="flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-solid shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<XLogo />
							</a>
							<span class="mt-2 font-mono text-sm text-gray-400">[x]</span>
						</div>
					</div>
				</div>
			</div>

			<img
				src="profile_pic.png"
				alt="artwork"
				class="max-h-80 w-full max-w-80 place-self-end self-center overflow-hidden md:col-span-1 md:row-span-3 md:self-end"
			/>
		</div>

		<div
			id="about"
			tabindex="0"
			class="group relative flex cursor-pointer flex-col gap-4 rounded-xl border border-white/10 bg-primary px-6 py-5 hover:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600 md:col-span-2 md:row-span-9"
			aria-label="About me">
			<h1
				class="text-lg font-bold group-hover:text-blue-400 group-focus:text-blue-400"
				transition:animate="fade"
				transition:name="about">
				About me
			</h1>

			<div class="scrollbar-hidden flex-1 overflow-scroll text-[0.8em] font-light leading-normal">
				<p class="pb-3">
					Self-taught full-stack dev from Uzbekistan. I've got a love-hate relationship with JavaScript world. Live
					inside my terminal & Neovim.
				</p>

				<p>Comfortable with:</p>

				<ul class="list-disc pb-3 pl-5">
					<li>JavaScript/TypeScript, Go, Python</li>
					<li>Next.js, React and its ecosystem, Astro</li>
					<li>AWS (Cloudformation, Lambda, Cognito, ...), Docker</li>
				</ul>

				<p class="pb-3">The JS world changes daily. Staying updated is my duty.</p>

				<p class="pb-3">
					Beyond coding pet projects, I also learn/practice 3D modeling in Blender and music production in Reaper.
				</p>

				<p class="pb-1 md:pb-0">
					I play games! Favorites: Sekiro, Monster Hunter World, Elden Ring, Lies of P. But
					<span class="inline-block">
						<svg
							class="inline-block rounded-full bg-pink-400 text-white"
							xmlns="http://www.w3.org/2000/svg"
							width="1em"
							height="1em"
							viewBox="0 0 24 24"
							><path
								fill="currentColor"
								d="M7.698 10.362a1.94 1.94 0 0 0-.7-.516q-.421-.189-.988-.189c-.567 0-.704.063-.982.189s-.51.298-.692.516q-.273.328-.413.777q-.139.448-.139.96q0 .511.14.952q.139.44.412.767q.274.329.692.512t.982.184c.565 0 .707-.062.988-.184q.422-.184.7-.512q.279-.327.413-.767q.135-.44.135-.952a3.3 3.3 0 0 0-.135-.96a2.1 2.1 0 0 0-.413-.777m-.965 2.81q-.22.372-.723.372q-.494 0-.713-.372q-.22-.373-.22-1.073c0-.7.073-.824.22-1.073q.22-.372.713-.372q.503 0 .723.372q.22.373.22 1.073t-.22 1.073m11.89-.83l-.09-4.39a4.5 4.5 0 0 1 .69-.054q.351 0 .701.054l-.09 4.39q-.315.053-.601.053a3.5 3.5 0 0 1-.61-.054m1.319 1.4q0 .332-.054.664a4 4 0 0 1-.655.054a4 4 0 0 1-.664-.054a4 4 0 0 1-.054-.655q0-.323.054-.665a4 4 0 0 1 .655-.054q.323 0 .664.054q.054.341.054.656m-3.223-4.03q.315 0 .638.053v4.461q-.288.099-.759.193a5.3 5.3 0 0 1-1.863.023a1.7 1.7 0 0 1-.74-.305q-.32-.234-.507-.683q-.189-.449-.189-1.193V9.765a4 4 0 0 1 .638-.054q.313 0 .637.054v2.46q0 .367.058.606a.9.9 0 0 0 .18.377a.66.66 0 0 0 .3.197q.18.058.422.058q.332 0 .557-.062V9.765a4 4 0 0 1 .628-.054m-4.362 2.683q.08.225.08.548a1.4 1.4 0 0 1-.542 1.117q-.265.212-.642.333q-.378.12-.853.12a5 5 0 0 1-.395-.013a3 3 0 0 1-.346-.045a4 4 0 0 1-.327-.076a4 4 0 0 1-.35-.116a2.6 2.6 0 0 1 .085-.49a3 3 0 0 1 .175-.48q.296.117.561.175q.265.06.552.059q.126 0 .274-.023a1 1 0 0 0 .274-.08a.7.7 0 0 0 .21-.153a.35.35 0 0 0 .086-.247q0-.216-.13-.31a1.3 1.3 0 0 0-.364-.166l-.556-.162q-.503-.143-.786-.426q-.282-.283-.283-.848q0-.682.49-1.068q.489-.386 1.332-.386q.35 0 .692.062q.341.063.691.189a2.5 2.5 0 0 1-.09.485a2.3 2.3 0 0 1-.17.44a4 4 0 0 0-.476-.158a2.2 2.2 0 0 0-.548-.067q-.305 0-.476.094a.32.32 0 0 0-.17.301q0 .197.121.278t.346.153l.511.153q.252.072.454.175t.345.255t.225.377M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12c6.628 0 12-5.373 12-12S18.628 0 12 0m0 22.8C6.035 22.8 1.2 17.965 1.2 12S6.035 1.2 12 1.2S22.8 6.035 22.8 12S17.965 22.8 12 22.8"
							></path></svg
						>
						<a
							href="https://osu.ppy.sh/users/12573178"
							target="_blank"
							class="rounded-sm text-pink-400 hover:underline focus:outline-none focus:ring-2 focus:ring-pink-500"
							>osu!</a
						> is my
					</span>
					true love - aiming to be 4-digit player.
				</p>
			</div>

			<span class="text-right font-mono text-sm font-thin text-gray-400">[a]</span>
		</div>

		<div
			tabindex="0"
			class="group flex flex-col gap-4 rounded-xl border border-white/10 bg-primary px-6 py-5 hover:border-green-600 focus:outline-none focus:ring-1 focus:ring-green-600 md:col-span-2 md:row-span-6"
			aria-label="Socials">
			<h1 class="text-lg font-bold group-hover:text-green-400 group-focus:text-green-400">Socials</h1>

			<Socials class="pb-2 pt-4" />
		</div>

		<div
			id="projects"
			tabindex="0"
			class="group flex cursor-pointer flex-col gap-4 rounded-xl border border-white/10 bg-primary px-6 py-5 hover:border-purple-600 focus:outline-none focus:ring-1 focus:ring-purple-600 md:col-span-4 md:row-span-3"
			role="button"
			aria-label="Projects">
			<h1
				class="text-lg font-bold group-hover:text-purple-400 group-focus:text-purple-400"
				transition:name="projects"
				transition:animate="fade">
				Projects
			</h1>

			<div class="flex-1"></div>

			<span class="text-right font-mono text-sm font-thin text-gray-400">[p]</span>
		</div>

		<div
			tabindex="0"
			class="group flex flex-col gap-4 rounded-xl border border-white/10 bg-primary px-6 py-5 hover:border-cyan-600 focus:outline-none focus:ring-1 focus:ring-cyan-600 md:col-span-3 md:row-span-3"
			aria-label="NOW">
			<h1 class="text-lg font-bold group-hover:text-cyan-400 group-focus:text-cyan-400">NOW</h1>

			<div class="flex items-center gap-2">
				<div class="size-4 animate-pulse rounded-full bg-green-400"></div>
				<p id="activity">...</p>

				<script>
					document.addEventListener("astro:page-load", async () => {
						async function updateActivity() {
							const response = await fetch("https://api.frixaco.com/activity")
							const data: { platform: string; title: string; url: string; date: string } = await response.json()

							const utcDateString = data.date
							const utcDate = new Date(utcDateString + " UTC")
							const localDate = new Date()
							const diffInMs = Math.abs(utcDate.getTime() - localDate.getTime())
							const diffInMinutes = diffInMs / 60000

							if (diffInMinutes > 30) {
								document.getElementById("activity")!.textContent = "I'm offline right now. AFK..."
								return
							}

							if (data.platform === "browser") {
								if (["guidetojapanese.org", "animelon.com"].some((domain) => data.url.includes(domain))) {
									document.getElementById("activity")!.textContent = "I'm learning Japanese right now..."
									return
								}

								if (["youtube.com"].some((domain) => data.url.includes(domain))) {
									if (data.url.includes("list=PLcjQUNxFpwsRJ6a2vO5EeHMkSd4ck7IbS")) {
										document.getElementById("activity")!.textContent = "I'm listening to my Music playlist right now..."
									} else {
										document.getElementById("activity")!.textContent = "I'm watching YouTube right now..."
									}
									return
								}
							}

							if (data.platform === "android") {
								document.getElementById("activity")!.textContent = "I'm on my phone right now..."
								return
							}

							if (["WezTerm", "wezterm-gui"].includes(data.title)) {
								document.getElementById("activity")!.textContent = "I'm coding right now, using WezTerm..."
								return
							}

							if (["Cursor", "pwsh"].includes(data.title)) {
								document.getElementById("activity")!.textContent =
									"I'm coding right now, either working or doing personal projects..."
								return
							}

							if (["Slack"].includes(data.title)) {
								document.getElementById("activity")!.textContent = "I'm at work right now (in Slack)..."
								return
							}

							if (["Anki", "anki"].includes(data.title)) {
								document.getElementById("activity")!.textContent =
									"I'm learning Japanese right now (learning new words)..."
								return
							}

							if (["Heptabase"].includes(data.title)) {
								document.getElementById("activity")!.textContent =
									"I'm in Heptabase right now. Either doing Japanese or writing/planning something personal..."
								return
							}

							if (["osu!"].includes(data.title)) {
								document.getElementById("activity")!.textContent = "I'm playing my favorite game, osu! right now..."
								return
							}

							if (["Blender"].includes(data.title)) {
								document.getElementById("activity")!.textContent =
									"I'm using Blender and doing some 3D modeling right now..."
								return
							}
						}

						await updateActivity()

						const timer = window.setInterval(updateActivity, 1000 * 10)

						document.addEventListener("astro:before-preparation", () => {
							clearInterval(timer)
						})
					})
				</script>
			</div>
			<span class="text-xs italic text-gray-400">Updated every 10 seconds</span>
		</div>

		<div
			id="blog"
			tabindex="0"
			class="group flex cursor-pointer flex-col gap-4 rounded-xl border border-white/10 bg-primary px-6 py-5 hover:border-pink-600 focus:outline-none focus:ring-1 focus:ring-pink-600 md:col-span-3 md:row-span-3"
			role="button"
			aria-label="Blog">
			<div class="flex items-center justify-between gap-2" transition:name="blog" transition:animate="fade">
				<h1 class="text-lg font-bold group-hover:text-pink-400 group-focus:text-pink-400">Blog</h1>

				<svg
					class="-translate-x-1.5 translate-y-1.5 -rotate-45 text-white transition-transform group-hover:translate-x-0 group-hover:translate-y-0 group-hover:text-pink-400"
					xmlns="http://www.w3.org/2000/svg"
					width="1.2em"
					height="1.2em"
					viewBox="0 0 24 24"
					><path
						fill="currentColor"
						d="m16.172 11l-5.364-5.364l1.414-1.414L20 12l-7.778 7.778l-1.414-1.414L16.172 13H4v-2z"></path></svg
				>
			</div>

			<div class="flex-1"></div>

			<span class="text-right font-mono text-sm font-thin text-gray-400">[b]</span>
		</div>
	</main>

	<div class="w-full max-w-6xl text-right">
		<label for="shortcuts-toggle" class="font-mono text-sm text-gray-200">
			Press [?] to <strong id="shortcuts-toggle-label">disable</strong> shortcuts
			<input type="checkbox" name="shortcuts-toggle" class="hidden" />
		</label>
	</div>
</Layout>
