---
import MainLayout from "../layouts/MainLayout.astro";
import Projects from "../components/Projects.astro";
import Socials from "../components/Socials.astro";
import Experience from "../components/Experience.astro";
---

<MainLayout>
  <div class="text-cyber-grey flex flex-col gap-8 pb-8">
    <section class="flex flex-col items-stretch justify-start gap-6">
      <div class="flex items-center justify-between">
        <h3 class="text-cyber-fg font-semibold">about</h3>

        <!-- <Await -->
        <!-- 	promise={deferredActivity} -->
        <!-- 	fallback={(<span class="">...</span>)} -->
        <!-- > -->
        <!-- 	{ -->
        <!-- 		(initial) => ( -->
        <!-- 			<Activity -->
        <!-- 				initial={ -->
        <!-- 					initial -->
        <!-- 				} -->
        <!-- 			/> -->
        <!-- 		) -->
        <!-- 	} -->
        <!-- </Await> -->
      </div>

      <p class="">
        software engineer, love exploring and building cool stuff, interested in
        pretty much everything, breaking free from mediocrity
      </p>

      <Socials />
    </section>

    <span class="bg-cyber-bg-alt h-0.5 w-full rounded-full"></span>

    <section class="flex flex-col items-stretch justify-start gap-6">
      <h3 class="text-cyber-fg font-semibold">projects</h3>

      <Projects />
    </section>

    <span class="bg-cyber-bg-alt h-0.5 w-full rounded-full"></span>

    <section class="flex flex-col items-stretch justify-start gap-6">
      <div class="flex items-center justify-between">
        <h3 class="text-cyber-fg font-semibold">experience</h3>

        <span
          class="text-cyber-grey hover:text-cyber-fg font-semibold hover:underline"
        >
          <a
            href="/SDE_RESUME_RUSTAM_ASHURMATOV_v1.pdf"
            target="_blank"
            aria-label="Download resume as PDF"
          >
            PDF
          </a>
        </span>
      </div>

      <Experience />
    </section>
  </div>
</MainLayout>
