---
import GithubLogo from "../components/github-logo.astro"
import LinkedinLogo from "../components/linkedin-logo.astro"
import XLogo from "../components/x-logo.astro"
import Layout from "../layouts/Layout.astro"
import "../globals.css"
import Socials from "../components/socials.astro"
import MadeWith from "../components/made-with.astro"
---

<Layout title="Rustam @frixaco | Full-stack software developer">
	<!-- <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50">
		<h1 class="text-4xl font-bold text-white">WIP</h1>
	</div> -->

	<main class="relative grid size-full max-h-[700px] max-w-6xl gap-1 md:grid-cols-8 md:grid-rows-12 md:md:gap-4">
		<script>
			import { navigate } from "astro:transitions/client"

			if (window.location.pathname === "/") {
				document.addEventListener("keydown", (e) => {
					console.log("navigation button handler fired: ", e.key)
					if (e.altKey || e.ctrlKey || e.metaKey || e.shiftKey) {
						return
					}

					if (e.key === "p") {
						navigate("/projects")
					}
					if (e.key === "b") {
						navigate("/blog")
					}

					if (e.key === "a") {
						navigate("/about")
					}
					if (e.key === "g") {
						window.open("https://github.com/frixaco", "_blank")
					}
					if (e.key === "l") {
						window.open("https://linkedin.com/in/frixaco", "_blank")
					}
					if (e.key === "x") {
						window.open("https://x.com/frixaco", "_blank")
					}
				})

				const projectsDiv = document.getElementById("projects")
				projectsDiv?.addEventListener("click", () => {
					console.log("projectsDiv clicked")
					navigate("/projects")
				})

				const blogDiv = document.getElementById("blog")
				blogDiv!.addEventListener("click", () => {
					console.log("blogDiv clicked")
					navigate("/blog")
				})

				let shortcutsEnabled = true

				document.addEventListener("keydown", (e) => {
					console.log("? handler keydown fired: ", e.key)
					if (e.altKey || e.ctrlKey || e.metaKey) {
						// shift + / = ?
						return
					}
					if (e.key === "?") {
						shortcutsEnabled = !shortcutsEnabled
						document.getElementById("shortcuts-toggle-label")!.textContent = shortcutsEnabled ? "enable" : "disable"
					}
				})
			}
		</script>

		<div
			tabindex="0"
			class="group flex flex-col justify-start rounded-xl border border-white/20 bg-primary hover:border-red-500 focus:outline-none focus:ring-1 focus:ring-red-500 md:col-span-6 md:row-span-6 md:flex-row"
			aria-label="Hi, I'm Rustam">
			<div class="flex flex-col justify-between gap-2 px-6 py-5 md:col-span-1 md:row-span-2">
				<p class="text-sm font-thin text-gray-400">welcome</p>

				<h1 class="flex-1 text-balance text-lg">
					Hi, I'm <strong class="drop-shadow-solid group-hover:text-red-500 group-focus:text-red-500"
						>Rustam Ashurmatov</strong
					>, full-stack developer, with strong interest for pretty much everything
				</h1>

				<div class="flex place-items-end gap-4 pt-2 md:col-span-1 md:row-span-1 md:pt-0">
					<div class="flex gap-4">
						<div class="flex flex-col items-center">
							<a
								href="https://github.com/frixaco"
								target="_blank"
								class="flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-solid shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<GithubLogo />
							</a>
							<span class="mt-2 font-mono text-sm text-gray-400">[g]</span>
						</div>

						<div class="flex flex-col items-center">
							<a
								href="https://www.linkedin.com/in/frixaco/"
								target="_blank"
								class="flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-solid shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<LinkedinLogo />
							</a>
							<span class="mt-2 font-mono text-sm text-gray-400">[l]</span>
						</div>

						<div class="flex flex-col items-center">
							<a
								href="https://x.com/frixaco"
								target="_blank"
								class="flex h-10 w-16 items-center justify-center gap-2 rounded-lg border border-red-500 text-2xl shadow-solid shadow-red-500 hover:text-red-500 focus:text-red-500 focus:outline-none active:translate-x-[2px] active:translate-y-[2px] active:shadow-none">
								<XLogo />
							</a>
							<span class="mt-2 font-mono text-sm text-gray-400">[x]</span>
						</div>
					</div>
				</div>
			</div>

			<img
				src="profile_pic.png"
				alt="artwork"
				class="w-72 place-self-end self-center md:col-span-1 md:row-span-3 md:size-full md:max-w-80"
			/>
		</div>

		<div
			tabindex="0"
			class="group relative flex cursor-pointer flex-col gap-2 rounded-xl border border-white/20 bg-primary px-5 py-4 hover:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600 md:col-span-2 md:row-span-8"
			aria-label="About me">
			<h1
				class="text-lg font-bold group-hover:text-blue-400 group-focus:text-blue-400"
				transition:animate="fade"
				transition:name="about">
				About me
			</h1>

			<div class="flex-1 text-xs font-thin">
				<p class="pb-3">
					Self-taught full-stack dev from Uzbekistan. I've got a love-hate relationship with JavaScript world. Live
					inside my terminal & Neovim.
				</p>

				<p>Comfortable with:</p>

				<ul class="list-disc pl-5">
					<li>Languages: JavaScript/TypeScript, Go, Python</li>
					<li>Frameworks/Libs: Next.js, React and its ecosystem</li>
					<li>Cloud & DevOps: AWS, Docker, Railway</li>
				</ul>

				<p class="pb-3">The JS world changes daily. Staying updated is my duty.</p>

				<p class="pb-3">
					Beyond coding pet projects, I also learn/practice 3D modeling in Blender and music production in Reaper.
				</p>

				<p class="pb-1 md:pb-0">
					I play games! Favorites: Sekiro, Monster Hunter World, Elden Ring, Lies of P. But osu! is my true love -
					aiming to be 4-digit player at the moment.
				</p>
			</div>

			<span class="text-right font-mono text-sm font-thin text-gray-400">[a]</span>
		</div>

		<div
			tabindex="0"
			class="group flex flex-col gap-2 rounded-xl border border-white/20 bg-primary px-5 py-4 hover:border-green-600 focus:outline-none focus:ring-1 focus:ring-green-600 md:col-span-2 md:row-span-6"
			aria-label="Socials">
			<h1 class="text-lg font-bold group-hover:text-green-400 group-focus:text-green-400">Socials</h1>

			<p class="pb-2 text-sm">Let's talk about anything!</p>

			<Socials />
		</div>

		<div
			id="projects"
			tabindex="0"
			class="group flex cursor-pointer flex-col rounded-xl border border-white/20 bg-primary px-5 py-4 hover:border-purple-600 focus:outline-none focus:ring-1 focus:ring-purple-600 md:col-span-4 md:row-span-3"
			role="button"
			aria-label="Projects">
			<h1
				class="text-lg font-bold group-hover:text-purple-400 group-focus:text-purple-400"
				transition:name="projects"
				transition:animate="fade">
				Projects
			</h1>

			<div class="flex-1"></div>

			<span class="text-right font-mono text-sm font-thin text-gray-400">[p]</span>
		</div>

		<div
			id="blog"
			tabindex="0"
			class="group flex cursor-pointer flex-col rounded-xl border border-white/20 bg-primary px-5 py-4 hover:border-pink-600 focus:outline-none focus:ring-1 focus:ring-pink-600 md:col-span-2 md:row-span-4"
			role="button"
			aria-label="Blog">
			<h1
				class="text-lg font-bold group-hover:text-pink-400 group-focus:text-pink-400"
				transition:name="blog"
				transition:animate="fade">
				Blog
			</h1>

			<div class="flex-1"></div>

			<span class="text-right font-mono text-sm font-thin text-gray-400">[b]</span>
		</div>

		<div
			tabindex="0"
			class="group flex flex-col rounded-xl border border-white/20 bg-primary px-5 py-4 hover:border-cyan-600 focus:outline-none focus:ring-1 focus:ring-cyan-600 md:col-span-3 md:row-span-3"
			aria-label="NOW">
			<h1 class="text-lg font-bold group-hover:text-cyan-400 group-focus:text-cyan-400">NOW</h1>

			<div class="flex-1"></div>
		</div>

		<div
			tabindex="0"
			class="grid grid-cols-3 place-items-center items-center rounded-xl border border-white/20 bg-primary px-4 py-3 focus:outline-none focus:ring-1 focus:ring-white/40 md:col-span-1 md:row-span-3"
			aria-label="Tech Stack">
			<MadeWith />
		</div>
	</main>

	<div class="w-full max-w-6xl text-right">
		<label for="shortcuts-toggle" class="font-mono text-sm text-gray-200">
			Press [?] to <strong id="shortcuts-toggle-label">disable</strong> shortcuts
			<input type="checkbox" name="shortcuts-toggle" class="hidden" />
		</label>
	</div>
</Layout>
