---

---

<div class="relative w-full">
	<div role="button" id="tooltip-trigger">
		<slot />
	</div>

	<div
		id="tooltip"
		class="absolute left-1/2 z-10 mt-1 hidden max-h-[70px] w-auto -translate-x-1/2 -translate-y-24 whitespace-normal rounded-lg border border-green-400 bg-black p-2 text-center text-white shadow-solid shadow-green-400 after:absolute after:-bottom-2 after:left-1/2 after:z-20 after:block after:size-4 after:-translate-x-1/2 after:rotate-45 after:bg-black after:shadow-solid after:shadow-green-400 after:content-['']">
		<p class="w-max">Copied to clipboard</p>
	</div>
</div>

<script>
	document.getElementById("tooltip-trigger")!.addEventListener("click", () => {
		document.getElementById("tooltip")!.classList.toggle("hidden")

		setTimeout(() => {
			document.getElementById("tooltip")!.classList.toggle("hidden")
		}, 1000)
	})

	const handleKeyDown = (e: KeyboardEvent) => {
		console.log("keydown: ", e.key)
		if (e.key === "e") {
			navigator.clipboard.writeText("rr.ashurmatov.21@gmail.com")
			document.getElementById("tooltip")!.classList.toggle("hidden")
			setTimeout(() => {
				document.getElementById("tooltip")!.classList.toggle("hidden")
			}, 1000)
		}
	}

	document.addEventListener("keydown", handleKeyDown)
</script>
