---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="anitrack">
	<main class="flex size-full max-w-6xl flex-col md:px-24 md:pt-24">
		<h1 class="pb-6 text-2xl font-bold md:pb-8">anitrack</h1>

		<p class="pb-6">
			web app i made to track anime i watch. while there are already much more feature-rich alternatives out there (<a
				class="underline"
				target="_blank"
				href="https://miru.watch">miru.watch</a
			>), i wanted something worked exactly the way i wanted and had only the features i needed.
		</p>

		<div class="flex flex-col gap-8">
			<div class="flex flex-1 flex-col gap-4">
				<p class="font-bold">tech stack:</p>
				<ul class="list-inside list-disc">
					<li>
						oauth - <a class="underline" href="https://clerk.com">clerk.com</a>
					</li>
					<li>next.js 15 (rsc, server actions) - <a class="underline" href="https://nextjs.org">nextjs.org</a></li>
					<li>shadcn/ui - <a class="underline" href="https://ui.shadcn.com">ui.shadcn.com</a></li>
					<li>tailwindcss - <a class="underline" href="https://tailwindcss.com">tailwindcss.com</a></li>
					<li>drizzle orm - <a class="underline" href="https://orm.drizzle.team/">drizzle.dev</a></li>
					<li>
						<a class="underline" href="https://github.com/ikatson/rqbit">rqbit</a> hosted on <a
							class="underline"
							href="https://hetzner.com">hetzner.com</a
						> - amazing bittorrent client in Rust that allows streaming video files
					</li>
					<li>
						postgresql - hosted on <a class="underline" href="https://railway.app">railway.app</a>
					</li>
				</ul>
			</div>

			<div class="flex flex-1 flex-col gap-4">
				<p class="font-bold">features:</p>
				<ul class="list-inside list-disc">
					<li>
						watch on external streaming website - <a class="underline" target="_blank" href="https://hianime.to"
							>hianime.to</a
						>
					</li>
					<li>
						stream directly from torrent uploads from <a class="underline" target="_blank" href="https://subsplease.org"
							>SubsPlease</a
						>
					</li>
					<li>search anime</li>
					<li>add releases to watchlist</li>
					<li>mark episodes as watched</li>
					<li>save progress on your account with github/google oauth</li>
				</ul>
			</div>

			<h3 class="font-bold">DEMO:</h3>

			<div class="flex flex-col gap-2">
				<span class="w-[70%] self-center text-sm">sign in, watch and stream torrent:</span>
				<video
					class="self-center"
					width="70%"
					height="auto"
					controls
					src="https://utfs.io/f/K9h87y261VpGnKsRUVF5UfRLqQN1uXDbd0ApIeWY8E3OkPhj"></video>
			</div>

			<div class="flex flex-col gap-2">
				<span class="w-[70%] self-center text-sm">search and track releases:</span>
				<video
					class="self-center"
					width="70%"
					height="auto"
					controls
					src="https://utfs.io/f/K9h87y261VpGqA3MOxUCHWls2koNRb5BG0uc3fmEMUiYaz4w"></video>
			</div>
		</div>
	</main>
</Layout>
