---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Projects">
	<main class="flex size-full max-w-6xl flex-col pt-24">
		<h1 class="pb-6 text-2xl font-bold md:pb-8" transition:name="projects" transition:animate="fade">Projects</h1>

		<p class="italic">...preparing my projects for showcase...</p>
	</main>
</Layout>
