---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Projects">
	<main class="flex size-full max-h-[700px] max-w-6xl flex-col gap-2 md:gap-4">
		<h1 class="text-2xl font-bold" transition:name="projects" transition:animate="fade">Projects</h1>

		<p class="py-16 text-sm italic">...preparing my projects for showcase...</p>
	</main>
</Layout>
