---
import Layout from "../../layouts/Layout.astro"
import { Image } from "astro:assets"
import anitrackHome from "../../images/anitrack_home.png"
import anitrackAdd from "../../images/anitrack_add.png"
import anitrackTorrent from "../../images/anitrack_torrent.png"
import anitrackStream from "../../images/anitrack_stream.png"
---

<Layout title="anitrack">
	<main class="flex size-full max-w-6xl flex-col md:px-24 md:pt-24">
		<h1 class="pb-6 text-2xl font-bold md:pb-8">anitrack</h1>

		<div class="flex flex-col gap-6">
			<p>
				simple <strike>web</strike> tui app i made to track anime i watch. while there are already much more feature-rich
				alternatives out there (<a class="underline" target="_blank" href="https://miru.watch">miru.watch</a>), i wanted
				something worked exactly the way i wanted and had only the features i needed.
			</p>

			<div class="flex flex-col gap-4">
				<p class="font-bold">v1 features:</p>

				<ul class="list-inside list-disc">
					<li>runs in browser</li>
					<li>search anime, add them to watchlist</li>
					<li>mark episodes as watched</li>
					<li>save progress on your account with github/google oauth</li>
					<li>watch episodes on external streaming website</li>
					<li>
						stream directly from torrent uploads from <a class="underline" target="_blank" href="https://subsplease.org"
							>SubsPlease</a
						> without downloading
					</li>
				</ul>

				<p class="font-bold">v2 features:</p>

				<ul class="list-inside list-disc">
					<li>runs in terminal</li>
					<li>search anime</li>
					<li>stream episodes in 4K (upscaled in real-time)</li>
					<li>save watch history locally</li>
					<li>
						stream directly from torrent uploads from <a class="underline" target="_blank" href="https://subsplease.org"
							>SubsPlease</a
						> without downloading
					</li>
				</ul>
			</div>

			<div class="flex flex-col gap-4">
				<p class="font-bold">notes:</p>

				<ul class="list-inside list-disc space-y-2">
					<li>
						the biggest challenge was torrent streaming. first tried
						<a target="_blank" class="underline" href="https://github.com/webtorrent/webtorrent">webtorrent (js lib)</a
						>, but browser limitations were a pain. a server-side
						<a class="underline" target="_blank" href="https://github.com/anacrolix/torrent">go client</a>
						had memory leaks and couldn't stream and download simultaneously. finally landed on
						<a target="_blank" class="underline" href="https://github.com/ikatson/rqbit">rqbit</a>, a rust client that
						did everything i needed: simultaneous download/streaming, a server mode with an api, a ui, and docker
						compose file to deploy it as api.
					</li>
					<li>
						for v1, the rest of the stack was next.js. i initially had a separate frontend and backend but later rewrote
						everything using next.js with server actions. this part was pretty straightforward.
					</li>
					<li>
						for v2, after finding out that there is no subtitle support for mkv files in browsers, i went with a tui
						with go + charm. this also let me integrate
						<a href="https://github.com/bloc97/anime4k">anime4k</a> for upscaling, so i can stream in 4k with subtitles using
						mpv or vlc. this was my first real go project and tui app.
					</li>
				</ul>
			</div>

			<div class="flex flex-col gap-4">
				<p class="font-bold">v1 tech stack:</p>

				<ul class="list-inside list-disc">
					<li>
						<a target="_blank" class="underline" href="https://github.com/ikatson/rqbit">rqbit</a> hosted on <a
							target="_blank"
							class="underline"
							href="https://hetzner.com">hetzner.com</a
						> via Docker Compose
					</li>
					<li>
						postgresql - hosted on <a target="_blank" class="underline" href="https://railway.app">railway.app</a>
					</li>
					<li>
						<a target="_blank" class="underline" href="https://nextjs.org">nextjs</a> 15 (rsc, server actions) deployed on
						<a target="_blank" class="underline" href="https://vercel.com">vercel.com</a>
					</li>
					<li>
						<a target="_blank" class="underline" href="https://ui.shadcn.com">shadcn/ui</a>
					</li>
					<li>
						<a target="_blank" class="underline" href="https://tailwindcss.com">TailwindCSS</a>
					</li>
					<li>
						<a target="_blank" class="underline" href="https://orm.drizzle.team/">Drizzle ORM</a>
					</li>
					<li>
						auth using <a target="_blank" class="underline" href="https://clerk.com">clerk.com</a>
					</li>
				</ul>
			</div>

			<div class="grid grid-cols-2 place-items-center gap-1">
				<div>
					<Image class="cursor-pointer rounded-md" src={anitrackHome} alt="anitrack" />
				</div>
				<div>
					<Image class="cursor-pointer rounded-md" src={anitrackAdd} alt="anitrack" />
				</div>
				<div>
					<Image class="cursor-pointer rounded-md" src={anitrackTorrent} alt="anitrack" />
				</div>
				<div>
					<Image class="cursor-pointer rounded-md" src={anitrackStream} alt="anitrack" />
				</div>
			</div>

			<div class="flex flex-col gap-4 pb-12">
				<h3 class="font-bold">demo:</h3>

				<div class="flex flex-col gap-2">
					<span class="w-[70%] self-center text-sm">sign in, watch and stream torrent:</span>
					<video class="self-center" width="70%" height="auto" controls>
						<source
							src="https://88hpo5o0wx.ufs.sh/f/K9h87y261VpGnKsRUVF5UfRLqQN1uXDbd0ApIeWY8E3OkPhj"
							type="video/mp4"
						/>
					</video>
				</div>

				<div class="flex flex-col gap-2">
					<span class="w-[70%] self-center text-sm">search releases and track unwatched episodes:</span>
					<video class="self-center" width="70%" height="auto" controls>
						<source
							src="https://88hpo5o0wx.ufs.sh/f/K9h87y261VpGqA3MOxUCHWls2koNRb5BG0uc3fmEMUiYaz4w"
							type="video/mp4"
						/>
					</video>
				</div>

				<div class="flex flex-col gap-4">
					<p class="font-bold">v2 tech stack:</p>

					<ul class="list-inside list-disc">
						<li>
							<a target="_blank" class="underline" href="https://github.com/ikatson/rqbit">rqbit</a> hosted on <a
								target="_blank"
								class="underline"
								href="https://hetzner.com">hetzner.com</a
							> via Docker Compose
						</li>
						<li>
							<a target="_blank" class="underline" href="https://github.com/charmbracelet/bubbletea">bubbletea</a> - TUI
							framework for Go
						</li>
					</ul>
				</div>

				<div class="flex flex-col gap-4 pb-12">
					<h3 class="font-bold">demo:</h3>
					<div class="flex flex-col gap-2">
						<span class="w-[70%] self-center text-sm">search, track and stream episodes in <b>4K</b></span>
						<video class="self-center" width="70%" height="auto" controls>
							<source
								src="https://88hpo5o0wx.ufs.sh/f/K9h87y261VpGzaFlz6EiH2Uv0SgREbseAf59aD4CqMjr6PB8"
								type="video/mp4"
							/>
						</video>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
