* {
  min-width: 0;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-bg-col: #fbebd9;
  --primary-text-col: #321609;
}

body {
  background-color: var(--primary-bg-col);
  color: var(--primary-text-col);
  font-family: monospace;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#header {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 16px;
  gap: 24px;
}

#header a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-text-col);
}

#tabs {
  padding: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
}

#tabs > button {
  all: unset;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}
#tabs > button:hover {
  border-bottom: 2px solid var(--primary-text-col);
}
