---
import "../styles/global.css"
import VercelSpeedInsights from "@vercel/speed-insights/astro"

// import "@fontsource/manrope"
// import "@fontsource/plus-jakarta-sans"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="@frixaco's personal website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col items-center bg-black/90 p-4 font-mono text-gray-200 md:h-screen md:justify-center">
		<slot />
		<VercelSpeedInsights />

		<script>
			let shortcutsEnabled = true

			const shortcutToggleHandler = (e: KeyboardEvent) => {
				if (e.shiftKey && e.key === "?") {
					document.getElementById("shortcuts-toggle-label")!.textContent = shortcutsEnabled ? "enable" : "disable"
					shortcutsEnabled = !shortcutsEnabled
					return
				}

				if (e.altKey || e.ctrlKey || e.metaKey || e.shiftKey) {
					return
				}

				if (document.getElementById("shortcuts-toggle-label")!.textContent === "enable") {
					return
				}

				if (e.key === "Backspace") {
					history.back()
				}
			}

			window.addEventListener("keydown", shortcutToggleHandler)
		</script>

		<div class="fixed right-3 bottom-3 z-50 hidden font-mono text-xs md:flex md:flex-col md:gap-1">
			<span id="backspace">[Backspace] to go <strong>back</strong></span>
			<span>[?] to <strong id="shortcuts-toggle-label">disable</strong> shortcuts</span>
		</div>
	</body>
</html>
