---
import { ViewTransitions } from "astro:transitions"
import VercelSpeedInsights from "@vercel/speed-insights/astro"

// import "@fontsource/manrope"
// import "@fontsource/plus-jakarta-sans"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransitions />
	</head>
	<body class="flex flex-col items-center bg-black/90 p-4 font-mono text-gray-200 md:h-screen md:justify-center">
		<slot />
		<VercelSpeedInsights />

		<script>
			document.addEventListener("astro:page-load", () => {
				let shortcutsEnabled = true

				const shortcutToggleHandler = (e: KeyboardEvent) => {
					if (e.shiftKey && e.key === "?") {
						document.getElementById("shortcuts-toggle-label")!.textContent = shortcutsEnabled ? "enable" : "disable"
						shortcutsEnabled = !shortcutsEnabled
						return
					}

					if (e.altKey || e.ctrlKey || e.metaKey || e.shiftKey) {
						return
					}

					if (document.getElementById("shortcuts-toggle-label")!.textContent === "enable") {
						return
					}

					if (e.key === "Backspace") {
						history.back()
					}
				}

				document.addEventListener("keydown", shortcutToggleHandler)

				document.addEventListener(
					"astro:before-preparation",
					() => {
						document.removeEventListener("keydown", shortcutToggleHandler)
					},
					{ once: true },
				)
			})
		</script>

		<div class="absolute bottom-3 right-3 hidden font-mono text-xs md:flex md:flex-col md:gap-1">
			<span>[Backspace] to go <strong>back</strong></span>
			<span>[?] to <strong id="shortcuts-toggle-label">disable</strong> shortcuts</span>
		</div>
	</body>
</html>
